body{
    text-align: center;
}




.navbar-brand img{
    width: 15%;
    border-radius: 50%;
}


#logo-img{
    width: 10%;
    height: auto;
    border-radius: 50%;
}
.py-8 {
    padding-top: 0;
    padding-bottom: 0;
}

.